.topBarContainer {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  align-items: center;
  background-color: rgb(24, 119, 242);
  box-shadow: 0 1px 3px #66a3ff;
}

.heading {
  color: white;
  margin-left: 1.5rem;
}

svg {
  height: 34px;
  width: 34px;
  fill: white;
}

.find {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-style: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 1.5rem;
}
