.outerContainer {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  opacity: 1;
}

.container {
  width: 1000px;
  background-color: white;
  position: relative;
}

.notice {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 37%;
}
